<%- include("../partials/header") %>
<form action="<%= formAction %>" method="POST">
  <div class="row">
    <div class="col-md-6">
      <label class="form-label">Nome</label>
      <input value="<%= centro.nome %>" name="nome" type="text" class="form-control">
    </div>
  </div>
    <%- include("../partials/enderecos_form", { endereco: centro.endereco }) %>
  <div class="row mt-3">
    <div class="col-sm-1">
      <button type="submit" class="btn btn-primary"><%= buttonMessage %></button>
    </div>
  </div>
  </form>
<%- include("../partials/footer") %>