<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link href="/dashboard.css" rel="stylesheet" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>  
    <title>ZapCar - Aluguel de veículos</title> 
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">ZapCar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Planos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Lojas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Veículos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contatos</a>
            </li>
          </ul>
          <span class="navbar-text">
            <button class="btn btn-outline-success">Login</button>
            <button class="btn btn-success">Faça a sua reserva!</button>
          </span>
        </div>
      </div>
    </nav>
    <div class="container">
      
      <% if(typeof imagensSlider != "undefined" && imagensSlider.length > 0){ %>
      <div id="mainSlider" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <% for(let i = 0; i < imagensSlider.length; i++){ %>
            <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="<%= i %>" <%= (i == 0)?"class=active":''; %> <%= (i == 0)?"aria-current='true'":''; %> aria-label="<%= imagensSlider[i].titulo %>"></button>
          <% } %>
        </div>
        <div class="carousel-inner">
        <% for(let i = 0; i < imagensSlider.length; i++){ %>
          
            <div class="carousel-item <%= (i == 0)?"active":'' %>">
              <img src="/images/slider/<%= imagensSlider[i].imagem %>" class="d-block w-100" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5><%= imagensSlider[i].titulo %></h5>
                <p><%= imagensSlider[i].texto %></p>
              </div>
            </div>
          
        <% } %>
        </div>
        
        
        <button class="carousel-control-prev" type="button" data-bs-target="#mainSlider" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainSlider" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <% } %>
      <h2>Veículos</h2>
      <h2>Nossas lojas</h2>
      <div class="row row-cols-3">
        <% for(let i = 0; i < lojas.length; i++){ %>
          <div class="col">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= lojas[i].nome %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= lojas[i].endereco.cidade %><br/><%= lojas[i].endereco.bairro %></h6>
                <p class="card-text"><%= `${lojas[i].endereco.logradouro}, ${lojas[i].endereco.numero}`  %></p>
                <a href="#" class="btn btn-primary">Reservar aqui</a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
      <h2>Planos</h2>
      <div class="row">
        <% for(let i = 0; i < planos.length; i++){ %>
          <div class="col">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= planos[i].nome %></h5>
                <h6 class="card-subtitle mb-2 text-muted">Por apenas: R$ <%= planos[i].valor %>,00</h6>
                <p class="card-text"><%= planos[i].descricao %></p>
                <a href="#" class="btn btn-primary">Reserve agora</a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
      <h2>Contato</h2>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="container">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted">© 2022 ZapCar, Inc<br />Este site é apenas uma demonstração de cunho didático</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
