<%- include("../partials/header") %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"></div>
    <h1 class="h2">Modelos</h1>
</div>

<form action="<%= formAction %>" method="POST">
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input value="<%= modelo.nome %>" name="nome" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Marca</label>
        <input value="<%= modelo.marca.nome %>" name="marca" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary"><%= buttonMessage %></button>
  </form>
<%- include("../partials/footer") %>