<%- include("../partials/header") %>
    <a class="btn btn-primary" href="/admin/modelos/cadastrar">Cadastrar</a>

<div class="table-responsive">
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Marca</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        <% if(modelos.length == 0){ %>
        <tr>
            <td colspan="4"><em>Nenhum modelo cadastrado</em></td>
        </tr>
        <% }else{ %>
            <% for(let i = 0; i < modelos.length; i++){ %>
            <tr>
                <td><%= modelos[i].nome %></td>
                <td><%= modelos[i].marca.nome %></td>
                <td>
                    <a class="btn btn-outline" href="/admin/modelos/alterar/<%= modelos[i].id %>">Editar</a>
                    <a class="btn btn-outline" href="/admin/modelos/excluir/<%= modelos[i].id %>">Excluir</a>
                </td>
            </tr>
        <% } %>
    <% } %>
    </tbody>
</table>
</div>
<%- include("../partials/footer") %>