<%- include("../partials/header") %>

<form action="<%= formAction %>" method="POST">
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input value="<%= servico.nome %>" name="nome" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Descrição</label>
        <input value="<%= servico.descricao %>" name="descricao" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Valor</label>
        <input value="<%= servico.valor %>" name="valor" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary"><%= buttonMessage %></button>
  </form>
<%- include("../partials/footer") %>