<div class="mb-3">
    <label class="form-label">CEP</label>
    <input value="<%= endereco.cep %>" name="cep" type="text" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Logradouro</label>
    <input value="<%= endereco.logradouro %>" name="logradouro" type="text" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Número</label>
    <input value="<%= endereco.numero %>" name="numero" type="text" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Complemento</label>
    <input value="<%= endereco.complemento %>" name="complemento" type="text" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Bairro</label>
    <input value="<%= endereco.bairro %>" name="bairro" type="text" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Cidade</label>
    <input value="<%= endereco.cidade %>" name="cidade" type="text" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Estado</label>
    <input value="<%= endereco.estado %>" name="estado" type="text" class="form-control">
</div>